&spi2 {
	status = "okay";
	cs-gpios = <&gpiob 12 GPIO_ACTIVE_LOW>;

	max7219: max7219@0 {
		compatible = "maxim,max7219";
		status = "okay";
		reg = <0>;
		spi-max-frequency = <1000000>;
	};
};

&spi1 {
	status = "disabled";
};

&i2c1 {
	status = "disabled";
};

&i2c2 {
	status = "disabled";
};

/ {
	aliases {
		powerbtn = &powerbtn;
		zerobtn = &zerobtn;
	};

	keys {
		compatible = "gpio-keys";
		powerbtn: powerbtn {
			gpios = <&gpioa 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
		};
		zerobtn: zerobtn {
			gpios = <&gpioa 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
		};
	};

	hx711_1: hx711_1 {
		compatible = "avia,hx711";
		status = "okay";
		dout-gpios = <&gpioa 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
		sck-gpios = <&gpioa 3 GPIO_ACTIVE_HIGH>;
	};

	hx711_2: hx711_2 {
		compatible = "avia,hx711";
		status = "okay";
		dout-gpios = <&gpiob 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
		sck-gpios = <&gpiob 5 GPIO_ACTIVE_HIGH>;
	};
};
